.controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin: 1rem 1rem;
}
.control {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 1rem;
}
input[type="range"] {
  width: 100%;
}
/* style datalist */
input[type="range"] + datalist {
  display: flex;
  margin-top: -4px;
}
input[type="range"] + datalist option {
  display: inline-block;
  width: calc((100% - 12px) / (var(--list-length) - 1));
  text-align: center;
}
input[type="range"] + datalist option:first-child {
  width: calc((100% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
  text-align: left;
}
input[type="range"] + datalist option:last-child {
  width: calc((100% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
  text-align: right;
}
